<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>


<!-- <app-section class="mainHeader"></app-section>  -->

<!-- <mat-grid-list cols="2" rowHeight="full" colswidth="20px auto">
    <mat-grid-tile [colspan]="1" [rowspan]="1"  [style.background]="yellow" class="mainSidebar">  -->
       
    <!-- </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"   [style.background]="pink" class="mainHeaderContent"> -->
    
    <!-- </mat-grid-tile> -->
    
  <!-- </mat-grid-list> -->

  <!-- <app-section></app-section>
  <router-outlet class="mainHeaderContent"></router-outlet> -->
<!-- <div id="container">
  <div class= "mainSidebar">
    <app-section>

    </app-section>
</div>
<div id="mainHeaderContent">
    <router-outlet>

    </router-outlet>
</div>
</div> -->

<div class="screen" >
        <div class="mainSidebar"> <app-section></app-section> </div>
        <div class="mainHeaderContent"><router-outlet></router-outlet> </div>

</div>