<div class="mainSidebar">
  <div class="icons">
    <div class="mainIcon">
      <span style="color:dodgerblue">
        
        <i class="fas fa-home fa-3x"></i>
        
      </span>  
      </div>
    
    
  </div>

  <div class="menu">

    <div class="sidebar" *ngFor="let Section of sections">
      <button class="btn btn-primary" (click)="onSelect(subSection)" *ngIf="subSection !=''">

        {{Section.sectionName}}

      </button>

    </div>
  </div>
</div>
<!-- </mat-card-content>

    <span class="iconMenu" style="color: tomato"><i (click)="openDialog()" class="fas fa-list fa-2x lineIcome " ></i>
      <h1 class="title" >SweetVish</h1>
    </span> -->